<library path="src">
  <class name="Balancer Control" type="rqt_balancer.main_window.MainWindow" base_class_type="rqt_gui_py::Plugin">
    <description>
      Control plugin for balancer.
    </description>
    <qtgui>
      <group>
        <label>Custom</label>
        <icon type="theme">folder</icon>
        <statustip>Custom plugins.</statustip>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Balancer Control</label>
      <icon type="theme">applications-other</icon>
      <statustip>Control plugin for balancer.</statustip>
    </qtgui>
  </class>
</library>
